{% extends "layout.html" %}
{% block body %}
        {% if not session.logged_in %}

                You need to be logged in to see your profile:
                <br>
                <br>
            <a href="{{ url_for('login') }}">Log In</a>
                <br>

            <a href="register">register</a>
            {% else %}

<div class="page-header" align="center">
  <h1>Admin</h1>
</div>

<div class="col-md-3">
    <img src="/static/images/a.jpg" class="img-rounded" alt="Rounded Image" align="right">
</div>


<!--<form role="form-inline row" action=/edit method=post enctype=multipart/form-data>-->
  <!--<div class="form-group">-->
      <div class="row">
      <div class="col-md-8">
          <div role="tabpanel">
              <!-- Nav tabs -->
               <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user"></span>Edit</a></li>
                  <li role="presentation"><a href="#rank" aria-controls="rank" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-certificate"></span>Rank</a></li>
                  <li role="presentation"><a href="#pics" aria-controls="pics" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span>My pics</a></li>
                  <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span>Settings</a></li>
               </ul>


              <!-- Tab panes -->
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="edit">Rank: Silver</div>
                  <div role="tabpanel" class="tab-pane" id="rank">...</div>
                  <div role="tabpanel" class="tab-pane" id="pics">
                      <img src="/static/images/user_data/good/295.jpg" class="img-rounded" alt="Rounded Image" align="left">
                      <img src="/static/images/user_data/bad/295.jpg" class="img-rounded" alt="Rounded Image" align="left">
                      <img src="/static/images/user_data/good/296.jpg" class="img-rounded" alt="Rounded Image" align="left">
                      <img src="/static/images/user_data/bad/296.jpg" class="img-rounded" alt="Rounded Image" align="left">
                      <img src="/static/images/user_data/good/297.jpg" class="img-rounded" alt="Rounded Image" align="left">
                      <img src="/static/images/user_data/bad/297.jpg" class="img-rounded" alt="Rounded Image" align="left">
                      <img src="/static/images/user_data/good/298.jpg" class="img-rounded" alt="Rounded Image" align="left">
                      <img src="/static/images/user_data/bad/298.jpg" class="img-rounded" alt="Rounded Image" align="left">
                      <img src="/static/images/user_data/bad/298.jpg" class="img-rounded" alt="Rounded Image" align="left">
                      <img src="/static/images/user_data/bad/298.jpg" class="img-rounded" alt="Rounded Image" align="left">
                      <img src="/static/images/user_data/bad/298.jpg" class="img-rounded" alt="Rounded Image" align="left">
                  </div>
                  <div role="tabpanel" class="tab-pane" id="settings">...</div>
              </div>
        </div>
      </div>
      </div>
      </div>
  <!--</div>-->
<!--</form>-->

{% endif %}

{% endblock %}
