 <!--TEST -->

    <script>
        var user_list = [];
        var photos = {"good":{},"bad":{}};

        var single_photo;
        var single_user;
        var square;
        {% for photo in photo_list %}
            single_photo =  [{{ photo.id}}, "{{ photo.userid}}", "{{ photo.rankid }}", "{{ photo.title }}", "{{ photo.description }}", "{{ photo.photo }}"];
            square = "{{ photo.square}}";
            {% if photo.type == "good" %}

                photos["good"]['123'] = single_photo;
            {% else %}
                photos["bad"]['232'] = single_photo;
            {% endif %}
        {% endfor %}

        console.log("parsed photo objects >> " + "good" +  photos['good']['232'] + "bad ");
        {% for user in user_list %}
            single_user = [{{ user.iserid}}, {{ user.rankid}}, {{ user.achievementid }}, {{ user.avatar }}, {{user.email }}, {{ user.points }}, {{ user.firstName}}, {{ user.lastName}}];
            user_list.push(single_user);
        {% endfor %}

        console.log("parsed user objects >> " + user_list.length);

    </script>