{% extends "layout.html" %}
{% block body %}

    <h1>{{ type }}</h1>




    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Uploading as: <b>{{ user.userid }}</b></h3>
            </div>
            <div class="panel-body">


                    {% if not session.logged_in %}

        You need to be logged in to upload photos:
        <br>
        <br>
        <a class="btn btn-default" href="{{ url_for('login') }}">Log In</a>

        <a class="btn btn-default" href="register">register</a>
    {% else %}


        {% from "_formhelpers.html" import render_field %}
        <form method=post action="/upload_photo" class=" center-block" style="width:250px"  enctype="multipart/form-data">
            <dl>
                {{ render_field(form.title) }}
                {{ render_field(form.description) }}
                {{ render_field(form.square) }}
                {{ render_field(form.weather) }}
            </dl>
            <input type=hidden name=action value={{ type }}>
            <div class="form-group">
                <label for="file">Photo</label>

                <div align="center" class="btn btn-default"><input type=file name=file value="Browse"></div>
                <p class="help-block">Please upload a .jpg</p>
            </div>
            <button type="submit" class="btn btn-default" name=upload_photo>Submit</button>

        </form>




            </div>
                 <div class="panel-footer">
</div>
                    </div>
</div>

        <!--

        <form role="form" action=/upload_photo method=post enctype=multipart/form-data>

            <div class="form-group">
                <label for="title">Title</label><br>
                <input type=text name=title placeholder=title>
            </div>
            <div class="form-group">
                <label for="description">Description</label><br>
                <input type=text placeholder=description name=description>
            </div>
            <div class="form-group">
                <label for="square">Square</label><br>
                <input type=text placeholder=square name=square>
            </div>

            <div align="center">
                <label for="title">Weather</label><br>
                <select class="form-control" style="width: 240px;" name=type>
                    <option value=good>Good</option>
                    <option value=bad>Bad</option>
                </select>

                <br>
                <select class="form-control" style="width: 240px;" name=weather>
                    <option value=Sunny>Sunny</option>
                    <option value=Rainy>Rainy</option>
                    <option value=Cloudy>Cloudy</option>
                    <option value=Snowy>Snowy</option>
                    <option value=Foggy>Foggy</option>
                    <option value=Hail>Hail</option>
                </select>
            </div>
            <br>

            <div class="form-group">
                <label for="file">Photo</label><br>

                <div align="center" class="btn btn-default"><input type=file name=file value="Browse"></div>
                <p class="help-block">Please upload a .jpg</p>
            </div>


            <button type="submit" class="btn btn-default" name=upload_photo>Submit</button>
        </form>

        -->

    {% endif %}
{% endblock %}