{% extends "layout.html" %}
{% block body %}

    <script type="text/javascript" src="../static/map.js"></script>

<script type="text/javascript">

var photo_list = {"good": {}, "bad": {}};

var user_list;
var square;
   {% for photo in photo_list %}
       photo = {"title": "{{ photo.title }}","userid": "{{ photo.userid }}","description": "{{ photo.description }}","photo": "{{ photo.photo }}", "weather": "{{ photo.weather }}"};
       square = "{{ photo.square}}";

       if(photo_list[square]== undefined) {
           photo_list[square]={};
       }

       if("{{ photo.type }}" =="good"){
           photo_list[square]['good'] = photo;
       }
       else{
           photo_list[square]['bad'] = photo;
       }
        {% endfor %}

$(document).ready(function(){

$('#openBtn').click(function(){
	$('#myModal').modal({backdrop: 'static', keyboard: false})
});

});
</script>

   {% for photo in photo_list %}
<div id="modal{{photo.photoid}}" class="fade modal" style="display: none; ">
            <div class='modal-dialog modal-content'>
                <h3>Preview Avatar</h3>

                <div class="modal-body">
                    <img src="{{ user.avatar }}"/>
                </div>
                <div class="modal-footer">
                    <a href="#" rel="tooltip" title="OK" class="btn btn-success glyphicon glyphicon-ok-sign"
                       data-dismiss="modal"></a>
                </div>
            </div>

        </div>
        {% endfor %}

    <!-- LOADER -->
    <div id="loader"><img src="../static/images/spinner.gif"/></div>

    <!-- <h1>Home</h1> -->
    <div class="container fill">

<div id="map_canvas"></div>

    </div>

        <script type="text/javascript" src="../static/hover.js"></script>
{% endblock %}