html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.start{
    background: url("/static/images/glasgow4.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#statusmessage{
    position:fixed;
    bottom:0;
    right:0;
    width:200px;
    line-height:10px;
    color:#FFFFFF;
    background-color:#81B33A;
    border-radius:5px;
    padding:10px;
    margin:10px;
    text-align:left;
    z-index: 999;
}


.header{
    height: 100%;
    width: 100%;
    margin: 0;
    padding:  200px 0 0 0;
    color: white;
    text-align: center;
    font-size: 60px;
}

.content{
    width: 100%;
    height: 100%;
    background: gray;
    margin: 0;
    padding: 0;

}

#map_canvas {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

}

.fill {
    top: 64px; /*64*/
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
}

.mapPopUp {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

 .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}


.pull-left {
  float: left !important;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.nav-tabs {
    white-space: normal;
    border-bottom: 1px solid  #93c54b;
    background-color:  #93c54b;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color:  #93c54b;
    background-color: #ddd;
    border: 6px solid  #93c54b;
    border-bottom-color: transparent;
}
.nav-tabs > li > a:hover {
    color:  #93c54b;
    background-color: #ddd;
}
.nav-tabs>li>a {
    color: white;
    background-color:  #93c54b;
    margin-right: 2px;
    line-height: 1.428571429;
    border: 2px solid transparent;
    border-radius: 4px 4px 0 0;
}
.tab-content{
    position: absolute;
    /*top: 47px;*/
    /*bottom: 200px;*/
    width: 96.7%;
    background-color: #ddd;
    border-left: 4px solid  #93c54b;
    border-right: 4px solid  #93c54b;
    border-bottom: 4px solid  #93c54b;
    /*padding: 200px;*/

}

/*#content {*/
  /*position: absolute;*/
  /*top: 150px;*/
  /*bottom: 0;*/
  /*background: #999;*/
  /*width: 100%;*/
  /*overflow-y: auto;*/
  /*border-top: 4px solid #2E2E2E;*/
/*}*/

.tab-pane {
    height: 400px;
    overflow-y: scroll;
}